<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mon annuaire
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/{{ globals.css_dir }}/base.css">
	</head>
	<body>
		<nav class="navigation">
			<div id="main">
				<button id="openBtn" class="open-nav-btn" onclick="openNav()">☰</button>
                <p>Tableau de bord administrateur</p>
			</div>

			<div id="mySidenav" class="side-nav">
				<a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
				<a href="/"><img src="/{{ globals.img_css_dir}}/home.svg"/>Accueil</a>

				{% if userIsAuthenticate %}
					<a href="{{ url_for('account_logout', {},) }}"><img src="/{{ globals.img_css_dir}}/sign_out.svg"/>Deconnexion</a>
				{% else %}
					<a href="{{ url_for('account_login', {},) }}"><img src="/{{ globals.img_css_dir}}/sign_in.svg"/>Connexion</a>
				{% endif %}
				
			</div>

			<div id="overlay" class="overlay" onclick="closeNav()"></div>

			<div class="onglets">
				<a href="/">Accueil</a>
			</div>
		</nav>

		<div class="main-container">

			<div class="main-window">
				<div class="main-buttons">
					<a href="{{ url_for('create_person', {},) }}">Créer une personne</a>
					<a href="{{ url_for('create_departement', {},) }}">Créer un nouveau département</a>
					<a href="{{ url_for('create_service', {},) }}">Créer un nouveau service</a>
					<a class="create_admin" href="{{ url_for('account_register', {},) }}">Ajouter un administrateur</a>

				</div>

                <div class="main-buttons2">
                <a href="{{ url_for('view_entree', {},) }}">Voir les personnes</a>
                </div>
				
					{% block content %}

						{% if userIsAuthenticate %}
							<h1>Bienvenue sur votre tableau de bord</h1>
						{%else%}
							<h1>Mon annuaire</h1>
							<p>Connectez-vous pour accéder à votre tableau de bord.</p>
						{%endif%}
						<p>Vous pouvez accéder à tous les outils nécessaires pour gérer efficacement la base de données de l'Annuaire Web. Utilisez les liens de navigation ci-dessus pour créer de nouvelles entrées ou en afficher des existantes.</p>

						<br>
						<h2>Consectetur Adipiscing</h2>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                            <li>Nunc dignissim risus id metus.</li>
                        </ul>
                        
					{% endblock %}
				
			</div>
		</div>

		<footer>
			<p>&copy; Nino Arcelin / Victor Georges / Nicka Ratovobodo / Dimitri Walczak-Vela-Mena</p>
			<p>RA-DWM 2023-2024</p>
		</footer>

		<script>
			function openNav() {
document.getElementById("mySidenav").style.width = "200px";
document.getElementById("main").style.marginLeft = "200px";
document.getElementById("openBtn").classList.add("hidden");
document.getElementById("overlay").classList.add("show");
}

function closeNav() {
document.getElementById("mySidenav").style.width = "0";
document.getElementById("main").style.marginLeft = "0";
document.getElementById("openBtn").classList.remove("hidden");
document.getElementById("overlay").classList.remove("show");
}
		</script>

	</body>
</html>
