{% extends 'base.html.twig' %}

{% block title %}View Entree{% endblock %}

{% block content %}

    <link rel="stylesheet" href="/{{ globals.css_dir }}/view_entree.css">

    <div class="form_recherche">
        <form method="POST">
            <div class="search-bar">
                <div>
                    <select name="departement" id="departement-filter">
                        {% if deptSet is defined %}
                            <option value="">Tous les départements</option>
                        {% endif %}
                        {% for departement in departements %}
                            <option value="{{ departement.id }}" {% if deptSet == departement.id %}selected{% endif %}>{{ departement.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <select name="service" id="service-filter">
                        {% if servSet is defined %}
                            <option value="">Tous les services</option>
                        {% endif %}
                        {% for service in services %}
                            <option value="{{ service.id }}" {% if servSet == service.id %}selected{% endif %}>{{ service.libelle }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <button type="submit">Rechercher</button>
                </div>
            </div>
            <input type="hidden" name="form_type" value="search_form">
        </form>
    </div>

    <div class="main-part">
        <div class="table-container">
            <table id="entree-table">
                <thead>
                    <tr>
                        <th class="delete_button_cell"></th>
                        <th class="delete_button_cell"></th>
                        <th>Image de profile</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Départements</th>
                        <th>Services</th>
                    </tr>
                </thead>
                <tbody>
                   {% for personne in personnes %}
        <tr>

            <td class="delete_button_cell">
                <form method="POST" action="{{ url_for('view_entree') }}">
                    <button type="submit" name="personne_id" value="{{ personne.infos.id }}">
                        <img src="/{{ globals.img_css_dir }}/delete.svg" class="delete_button"></img>
                    </button>
                    <input type="hidden" name="form_type" value="delete_form">
                    <input type="hidden" name="departement" value="{{ deptSet }}">
                    <input type="hidden" name="service" value="{{ servSet }}">
                </form>
            </td>
            <td class="delete_button_cell">
                <form method="POST" action="{{ url_for('view_entree') }}">
                    <button type="submit" name="personne_id" value="{{ personne.infos.id }}">
                        {% if personne.infos.statut == 0 %}
                            <img src="/{{ globals.img_css_dir }}/view_hide.svg" class="delete_button"></img>
                        {% elseif personne.infos.statut == 1 %}
                            <img src="/{{ globals.img_css_dir }}/view.svg" class="delete_button"></img>
                        {% endif %}
                    </button>
                    <input type="hidden" name="form_type" value="view_form">
                    <input type="hidden" name="departement" value="{{ deptSet }}">
                    <input type="hidden" name="service" value="{{ servSet }}">
                </form>
            </td>

            <td class="image-container">
                <div>
                    {% if personne.infos.img != NULL %}
                        <img class="image_profile" src="/{{ globals.img_user_dir }}/{{ personne.infos.img }}">
                    {% else %}
                        <img class="no_file" src="/{{ globals.img_css_dir }}/no_file.svg">
                    {% endif %}
                </div>
            </td>
            <td class="{{ personne.infos.statut == 0 ? 'grayed-out' : '' }}">{{ personne.infos.nom }}</td>
            <td class="{{ personne.infos.statut == 0 ? 'grayed-out' : '' }}">{{ personne.infos.prenom }}</td>
            <td class="{{ personne.infos.statut == 0 ? 'grayed-out' : '' }}">
                <ul>
                    {% for departement in personne.departements %}
                        <li><b>{{ departement.libelle }} :</b> {{ departement.description }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td class="{{ personne.infos.statut == 0 ? 'grayed-out' : '' }}">
                <ul>
                    {% for service in personne.services %}
                        <li><b>{{ service.libelle }} :</b> {{ service.description }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <script>
    // JavaScript
document.addEventListener("DOMContentLoaded", function () {
    // Enregistrer la position actuelle de la barre de défilement
    let scrollPos = localStorage.getItem("scrollPosition");
    if (scrollPos !== null) {
        document.querySelector(".table-container").scrollTop = scrollPos;
    }

    // Écouter l'événement de scroll et enregistrer la position
    document.querySelector(".table-container").addEventListener("scroll", function () {
        localStorage.setItem("scrollPosition", this.scrollTop);
    });
});

    </script>

{% endblock %}
