{% extends 'base.html.twig' %}

{% block title %}View Entree
{% endblock %}

{% block content %}

	<link rel="stylesheet" href="/{{ globals.css_dir }}/view_entree.css">


	<div class="form_recherche">
		<form method="POST">
			<div class="search-bar">
				<div>
					<select name="departement" id="departement-filter">
						<option value="">Tous les départements</option>
						{% for departement in departements %}
							<option value="{{ departement.id }}">{{ departement.libelle }}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select name="service" id="service-filter">
						<option value="">Tous les services</option>
						{% for service in services %}
							<option value="{{ service.id }}">{{ service.libelle }}</option>
						{% endfor %}
					</select>
				</div>
			
			<div>
				<button type="submit">Rechercher</button>
			</div>
			</div>
		</form>
	</div>
	<div class="main-part">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Départements</th>
                <th>Services</th>
            </tr>
        </thead>
        <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.infos.nom }}</td>
                    <td>{{ personne.infos.prenom }}</td>
                    <td>
                        <ul>
                            {% for departement in personne.departements %}
                                <li>{{ departement.libelle }}: {{ departement.description }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for service in personne.services %}
                                <li>{{ service.libelle }}: {{ service.description }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
